@import "tailwindcss";

@theme {
  --color-primary: #0ab87b;      /* Green */
  --color-teal: #1ABC9C;         /* Teal */
  --color-white: #FFFFFF;        /* White */
  --color-dark-green: #00796B;   /* Dark Green */
  --color-deep-blue: #0F172A;    /* Deep Blue */
  --color-light-gray: #F3F4F6;   /* Light Gray */
  --color-warning: #F59E0B;      /* Warning (Amber) */
}
